# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Environment / Secret keys
.env
.env.*

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Logs
*.log

# IDE
.vscode/
.idea/
.gemini/
.agents/
scratch/
